@charset 'UTF-8';
// @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// variable
$dashboard-content-sidebar-color: theme('colors.gray.50');
$dashboard-content-background-color: #F5F5FB;
$dashboard-sidebar-stroke-color: #E9E9EF;
$dashboard-primary-color: theme('colors.blue.500');
$sidebar-left-width: 240px;
$sidebar-right-width: 300px;

// dashboard
.dashboard {
    @apply flex;
    @apply flex-row;
    @apply flex-grow;
    @apply min-h-screen;
    background: $dashboard-content-background-color;

    * {
        font-family: 'Poppins', sans-serif;
    }

    // 
    .overlay {
        .overlay-sidebar-left, .overlay-sidebar-right {
            @apply fixed;
            @apply h-screen;
            @apply w-screen;
            background: rgba($color: #000000, $alpha: 0.6);

            @screen lg {
                @apply hidden #{!important};
            }
        }

        .overlay-sidebar-left {
            z-index: 50;
        }

        .overlay-sidebar-right {
            z-index: 52;
        }

        .overlay-search {
            @apply fixed;
            @apply w-screen;
            @apply h-screen;
            background: rgba($color: #000000, $alpha: 0.8);
            z-index: 55;

            .close {
                @apply fixed;
                @apply right-0;
                @apply mr-8;
                @apply mt-8;
            }

            form {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                width: 90%;

                @screen lg {
                    width: 60%;
                }

                .search-box {
                    @apply relative;

                    .icon {
                        position: absolute;
                        margin-left: 15px;
                        margin-top: 15px;
                    }

                    .input {
                        @apply px-6;
                        @apply py-4;
                        padding-left: 50px;
                        border-bottom: 6px solid $dashboard-primary-color;
                        outline: none;
                        width: 100%;
                    }
                }
            }
        }
    }

    // sidebar
    .sidebar {
        background: $dashboard-content-sidebar-color;

        &.mobile-show {
            @apply block #{!important};
        }

        // left
        &.left {
            @apply hidden;
            @apply fixed;
            @apply h-screen;
            @apply left-0;
            z-index: 51;
            min-width: $sidebar-left-width;
            max-width: $sidebar-left-width;
            border-right: 2px solid $dashboard-sidebar-stroke-color;

            @screen sm {
                @apply fixed;
                @apply h-screen;
                @apply left-0;
            }

            @screen md {
                @apply static;
                @apply flex;
                @apply flex-col;
            }

            .brand {
                @apply pt-4;
                @apply text-center;
                @apply inline-block;
                @apply text-2xl;
                width: 100%;

                a {
                    @apply font-bold;
                    color: theme('colors.gray.800');
                }
            }

            .scrollable {
                @apply flex;
                @apply flex-col;
                @apply h-full;
                @apply mt-4;

                @screen md {
                    @apply justify-between;
                }

                .menu {
                    @apply mt-4;
                    @apply flex;
                    @apply flex-col;

                    .item {
                        @apply my-3;
                        padding-left: 28px;

                        &.active {
                            box-shadow: 3px 0 0px 0 $dashboard-primary-color;
                            border-right: 1px solid $dashboard-primary-color;

                            .icon {
                                color: $dashboard-primary-color;
                            }

                            .text {
                                @apply font-semibold;
                                color: theme('colors.gray.800');
                            }
                        }

                        .icon {
                            @apply inline-block;
                            margin-right: 20px;
                            color: theme('colors.gray.400');
                        }

                        .text {
                            @apply text-base;
                            @apply align-middle;
                            color: theme('colors.gray.400');
                        }
                    }
                }

                .footer {
                    @apply mt-4;
                    @screen lg {
                        @apply mt-0;
                    }
                }
            }
        }

        // right
        &.right {
            @apply hidden;
            @apply fixed;
            @apply right-0;
            @apply h-screen;
            z-index: 53;
            width: $sidebar-right-width;
            border-left: 2px solid $dashboard-sidebar-stroke-color;

            @screen sm {
                @apply fixed;
                @apply right-0;
                @apply h-screen;
            }

            @screen lg {
                @apply static;
                @apply block;
            }

            .profile {
                @apply text-center;

                .avatar {
                    @apply border-gray-500;
                    @apply border-2;
                    @apply rounded-full;
                    @apply inline-block;
                }
            }

            .list {
                @apply flex;
                @apply flex-col;

                .item {
                    @apply flex;
                    @apply flex-row;
                    @apply text-sm;

                    .icon {
                        @apply p-3;
                    }
                }
            }
        }
    }

    // content
    .content {
        @apply flex-1;
        background: $dashboard-content-background-color;

        .header {
            @apply pt-4;
            @apply flex;
            @apply justify-between;
            
            h1 {
                @apply text-lg;
                @apply font-bold;
                @apply self-center;
                color: theme('colors.gray.800');
            }

            .right {
                @apply flex;

                * {
                    @apply self-center;
                }
            }
        }

        @screen lg {
            .negative-illustration {
                margin-top: -80px;
            }
        }
    }
}